WCFZadanie/AplikacjaKonsolowa/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IMyService_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_Date_InputMessage">
    <wsdl:part name="parameters" element="tns:Date" />
  </wsdl:message>
  <wsdl:message name="IMyService_Date_OutputMessage">
    <wsdl:part name="parameters" element="tns:DateResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_Uppercase_InputMessage">
    <wsdl:part name="parameters" element="tns:Uppercase" />
  </wsdl:message>
  <wsdl:message name="IMyService_Uppercase_OutputMessage">
    <wsdl:part name="parameters" element="tns:UppercaseResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_Lowercase_InputMessage">
    <wsdl:part name="parameters" element="tns:Lowercase" />
  </wsdl:message>
  <wsdl:message name="IMyService_Lowercase_OutputMessage">
    <wsdl:part name="parameters" element="tns:LowercaseResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/Echo" message="tns:IMyService_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/EchoResponse" message="tns:IMyService_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Date">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/Date" message="tns:IMyService_Date_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DateResponse" message="tns:IMyService_Date_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Uppercase">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/Uppercase" message="tns:IMyService_Uppercase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/UppercaseResponse" message="tns:IMyService_Uppercase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Lowercase">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/Lowercase" message="tns:IMyService_Lowercase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/LowercaseResponse" message="tns:IMyService_Lowercase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMyService" type="tns:IMyService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMyService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://tempuri.org/IMyService/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Date">
      <soap12:operation soapAction="http://tempuri.org/IMyService/Date" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uppercase">
      <soap12:operation soapAction="http://tempuri.org/IMyService/Uppercase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lowercase">
      <soap12:operation soapAction="http://tempuri.org/IMyService/Lowercase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="NetTcpBinding_IMyService" binding="tns:NetTcpBinding_IMyService">
      <soap12:address location="net.tcp://localhost:6565/MyService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6565/MyService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-BOAUKNB</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>